<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hansan.monitor.mapper.MonitorMapper">
<resultMap id="monitorResultMap" type="io.hansan.monitor.model.MonitorModel">
    <!-- 主键映射 -->
    <id column="id" property="id"/>
    <!-- 普通属性映射 -->
    <result column="name" property="name"/>
    <result column="url" property="url"/>
    <result column="type" property="type"/>
    <!-- 数据库中的is_active映射到Java类的active属性 -->
    <result column="active" property="active"/>
    <!-- 用户ID映射 -->
    <result column="user_id" property="userId"/>
    <!-- 权重映射 -->
    <result column="weight" property="weight"/>
    <result column="check_interval" property="check_interval"/>
    <!-- 主机名映射 -->
    <result column="hostname" property="hostname"/>
    <!-- 端口映射 -->
    <result column="port" property="port"/>
    <!-- 创建日期映射 -->
    <result column="created_date" property="createdDate"/>
    <!-- 关键词映射 -->
    <result column="keyword" property="keyword"/>
    <!-- 最大重试次数映射 -->
    <result column="maxretries" property="maxretries"/>
</resultMap>
    <insert id="batchInsertMonitorNotifications">
        INSERT INTO monitor_notification (monitor_id, notification_id)
        VALUES
        <foreach collection="notificationIds" item="notificationId" separator=",">
            (#{monitorId}, #{notificationId})
        </foreach>
    </insert>
<select id="getMonitorsByUserId" resultMap="monitorResultMap">
    SELECT *
    FROM monitor
    WHERE user_id = #{userId}
    ORDER BY weight DESC, name ASC
</select>

</mapper>